/* Remove padding and margin */
*
    {
    margin: 0 auto;
    padding: 0;
    border: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-around;
}

.header {
	order: 1;
	height: 100px;
	flex: 0 1 100%;
	background: #ccff99;
	border-radius: 7px;
	margin: 5px;
	padding: 5px;
	border: 2px solid #66cc00;
	min-width: 184px;
}

.menubox {
	order: 2;
	flex: 0 1 180px;
	max-height: 264px;
	/* min-height: 223px; */
	background: #99ffff;
	border-radius: 7px;
	margin: 5px;
	padding: 5px;
	border: 2px solid #00cccc;
}

.my-map {
	order: 3;
	min-height: 520px;
	flex: 1 70%;
	background: #adebad;
	border-radius: 7px;
	margin: 5px;
	padding: 5px;
	border: 2px solid #28a428;
	min-width: 184px;
	max-width: 99%;
}

map {
	order: 3;
	min-height: 520px;
	flex: 1 70%;
	background: #ffffff;
	min-width: 184px;
	max-width: 99%;
}

.hilite {
	color: blue;
	background: orange;
}
